
/* Page Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background: linear-gradient(blue, blue 0%);
}

#btnEasy,#btnMid,#btnHard{
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    font-family: arial;
    background: linear-gradient(to bottom, #5A86FF, #335AD0);
    border: solid #7CAFFF 1px;
    border-radius: 5px;
    padding:15px;
    text-shadow: 0px 1px 2px #000000;
    box-shadow: 0px 1px 5px #0D2444;
    height: 30px;
    width: 100px;
    margin: 20px;
     
     display: flex;
     align-items: center;
}
#btnEasy,#btnMid,#btnHard:hover{
    opacity: 0.9;
    background: linear-gradient(to bottom, #5A86FF, #335AD0);
    box-shadow: 0px 1px 2px #000000;
}

/* Card style */

.memory-game {
    width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.level-game {
}


.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.memory-card:active {
   transform: scale(0.87);
   transition: transform .2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: #FFFFFF;
  backface-visibility: hidden;
}
.front-face {
  transform: rotateY(180deg);
}
